/* Home.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-text {
    /* height: 10vh; */
    padding: 5vw;
    text-align: center;
    font-size: 1.5vw;
}


.img-container {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    font-size: 3vw;
    padding: 20px;
    border-radius: 10px;
    color: white;
}




.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 40px;
    /* Espacio alrededor de las tarjetas */
}

.card {
    /* Las tarjetas ocupan el mismo espacio */
    padding: 20px;

    background-color: #FEFCF3;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.card-icon {
    font-size: 24px;
    /* Tamaño del icono */
}

h2 {
    margin: 10px 0;
    /* Espacio alrededor del título */
}

p {
    margin: 0;
    /* Elimina el margen predeterminado del párrafo */
}

h3{
    margin: 0%;
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
}




.container-azul {
    background-color: #13293D;
    /* Fondo azul */
    padding: 20px 0;
    /* Espacio interno */
    width: 100%;
    /* height: 70vh; */
}

.content-azul {
    display: flex;
    /* Contenedor flexible para dividir en izquierda y derecha */
    justify-content: space-between;
    /* Separación entre izquierda y derecha */
    align-items: center;
}

.left-side-azul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* flex: 1; */
    /* La parte izquierda ocupará el 50% del ancho */
    padding: 20px;
    /* Espacio interno */
    text-align: center;
    width: 50%;
}

.right-side-azul {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 50%;
    
    
}

.h2-azul {
    color: #E8F1F2;
    font-size: 3vw;
    margin-bottom: 50px;
    /* Espacio debajo del título */
}

.p-azul {
    color: #E8F1F2;
    font-size: 2vw;

    margin-bottom: 50px;
    /* Espacio debajo del párrafo */
}

.button-azul {
    background-color: #E8F1F2;
    color:#13293D;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.img-azul {
    max-width: 100%;
    /* Ajustar la imagen al ancho del contenedor */
    height: auto;
    /* Mantener la proporción de aspecto original */
}


.container-manos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.img-manos{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.text-manos{
    position: absolute;
    width: 80%;
    padding: 5%;

    background-image: url("../../../public/manos-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    color: #13293D;
    ;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;

    
}

.h2-manos{
    font-size: 2vw;
    font-weight:bolder;
    /* width: 100%; */
}

.p-manos{
    font-size: 1.7vw;
    font-weight: light;
    /* width: 80vw; */

}

.unase-container{
    /* width: 100%; */
    /* padding: 20px 0; */
    /* margin: 10px 0; */
    
}
.unase-content{
    
    
    background-image:url(../../../public/unase-background.png) ;
    background-repeat: no-repeat;
    background-size:65%;
    background-position: center;
    background-position:15% 50%;
    

    padding: 4% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:70vh;
}

.unase-content img{
    width: 35vw;
}

.unase-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 60vh;
    width: 40%;
    padding-right: 5%;
    
    text-align: center;
    color: #13293D;
    
}