.cv-upload {
    width: 90%;
    height: 170px;
    border: 1px dashed black;
}

.cv-button {
    width: 100px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E6695;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.cv-button input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.formato {
    margin-top: 0px;
    color: gray;
}


.date-of-birth, .dni, .tel {
    display: flex;
    /* Muestra los select en línea */
    gap: 10px;
    /* Espacio entre los select (ajusta según tus preferencias) */
    width: 80%;
}

.label-create{
    margin-top: 15px;
}


.foto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
}

.texto-izquierdo {
    flex-grow: 1;
    margin-right: 10px;
    color:gray;
    text-align: start;

}



.icono-derecho {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono-derecho:hover {
    background-color: #0056b3;
}

.icono-derecho i {
    margin-right: 5px;
}

/* Estilo para el input de archivo oculto */
.hidden {
    display: none;
}