body {
  margin: 0;
  padding: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); */
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: black;
  }
  
  .login-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  .login-button {
    background-color: #13293D;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    
  }
  

  
  .logo {
  display: block;
  margin: 0 auto;
  margin-top: 20px; /* Ajusta la distancia desde la parte superior según sea necesario */
  max-width: 150px; /* Ajusta el tamaño máximo de tu logo según sea necesario */
}

.password{
  margin-top: 30px; 
}

.button-ingresar{
  margin-top:20px;
  
}


.error-message {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #13293D; /* Color de fondo del mensaje de error */
  color: white; /* Color del texto del mensaje de error */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 999; /* Para asegurarte de que el mensaje esté en la parte superior */
}

.button-ingresar{
  background-color: white;
  color: #13293D;
  border: 2px solid #13293D;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.button-ingresar:hover{
  background-color: #13293D;
  color: white;
  border: 2px solid #13293D;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.button-registrarme{
  background-color: rgb(211, 207, 207);
  color: #13293D;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
  text-decoration: none;
}
.button-registrarme a {
  text-decoration: none; /* Elimina la decoración del enlace */
  color: inherit; /* Utiliza el color de texto heredado */
}