.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Establece la altura al 100% de la ventana */
  }
  
  /* Agrega otros estilos según sea necesario */
  